<table>
    <tr>
        <td><img src="{{site.baseurl}}/images/logo.png" height="60" title="Sprint1 Pages" alt="" text-color ="white"></td>
        <td><a href="{{site.baseurl}}/2018mcq/pages/home">Home</a></td>
        <td><a href="{{site.baseurl}}/2018mcq/pages/14">1-4</a></td>
        <td><a href="{{site.baseurl}}/2018mcq/pages/48">4-8</a></td>
        <td><a href="{{site.baseurl}}/2018mcq/pages/812">8-12</a></td>
        <td><a href="{{site.baseurl}}/2018mcq/pages/1216">12-16</a></td>

    </tr>
</table>