<table>
    <tr>
        <td><img src="{{site.baseurl}}/images/logo.png" height="60" title="Sprint1 Pages" alt="" text-color ="white"></td>
        <td><a href="{{site.baseurl}}/2018mcq/pages/home">Home</a></td>
        <td><a href="{{site.baseurl}}/2018mcq/pages/14">1-4</a></td>
        <td><a href="{{site.baseurl}}/2018mcq/pages/58">5-8</a></td>
        <td><a href="{{site.baseurl}}/2018mcq/pages/912">9-12</a></td>
        <td><a href="{{site.baseurl}}/2018mcq/pages/1316">13-16</a></td>

    </tr>
</table>