<table>
    <tr>
        <td><img src="{{site.baseurl}}/images/logo.png" height="60" title="Sprint1 Pages" alt="" text-color ="white"></td>
        <td><a href="{{site.baseurl}}/sprint1/pages/intro">Intro</a></td>
        <td><a href="{{site.baseurl}}/sprint1/pages/calc">JS Calc</a></td>
        <td><a href="{{site.baseurl}}/sprint1/pages/cookie">Cookie Clicker</a></td>
        <td><a href="{{site.baseurl}}/sprint1/pages/api">API</a></td>
        <td><a href="{{site.baseurl}}/sprint1/pages/snake">Snake Game</a></td>
    </tr>
</table>